In [112]:
Bank : ICICI, SBI, PNB
    
    ROI Diff
    Loan Tenure 
    working hours 
    atm facility 
    credit cards options

SyntaxError: invalid syntax (751158022.py, line 1)

In [ ]:
class, object, encapsulation, polymorphirsm(method overloading , method overriding), inheritance, data abstraction

In [67]:
class employee:
    def __init__(self,name,id):
        self.__data = "employee"
        self.id = id
        self.name = name 
        print("My Name is ",name)
        
    def speak(self,lang):
        print("I can speak",lang)
        print("My employee id is ",self.id)

In [68]:
class datascientist(employee):
    def __init__(self,name,id,skills):
        employee.__init__(self,name,id)
        self.skills = skills
        
    def salary(self,curr_sal):
        new_sal = curr_sal + 0.15*curr_sal
        print("Your updated salary is ",new_sal)

In [69]:
class datanalayst(employee):
    def __init__(self,name,id,skills):
        employee.__init__(self,name,id)
        self.skills = skills
        
    def salary(self,curr_sal):
        new_sal = curr_sal + 0.12*curr_sal
        print("Your updated salary is ",new_sal)

In [70]:
aman = datascientist("Aman",1,"DS")

My Name is  Aman

In [71]:
aman.salary(10000)

Your updated salary is  11500.0

In [73]:
akshay = datanalayst("Akshay",2,"SQL")

My Name is  Akshay

In [75]:
akshay.salary(10000)

Your updated salary is  11200.0

In [62]:
aman = employee("Aman",1)

My Name is  Aman

In [63]:
aman.id

1

In [65]:
aman.__data

AttributeError: 'employee' object has no attribute '__data'

In [54]:
aman.speak('English')

I can speak English
My employee id is  1

In [55]:
aman.salary(10000)

Your updated salary is  11000.0

In [50]:
akshay = employee("Akshay",2)

My Name is  Akshay

In [51]:
akshay.speak("Hindi")

I can speak Hindi
My employee id is  2

## Polymorphism

In [97]:
class employee:
    def __init__(self,name,id):
        self.__data = "employee"
        self.id = id
        self.name = name 
        print("My Name is ",name)
        
    def skills(self,skill):
        self.skill = skill
        print("My Skills are ",skill)
        
    def salary(self,curr_sal):
        new_sal = curr_sal + 0.15*curr_sal
        print("Your updated salary is ",new_sal)

In [106]:
class datascientist(employee):
    def __init__(self,name,id):
        employee.__init__(self,name,id)
        
    def skills(self,skill,expertise):
        self.skill = skill
        self.expertise = expertise
        print("My Skills are ",skill)
        print("But My expertise is in ",self.expertise)

In [110]:
e1 = employee("Ritesh",5)

My Name is  Ritesh

In [111]:
e1.skills("Speaking English")

My Skills are  Speaking English

In [105]:
e1.salary(5000)

Your updated salary is  5750.0

In [107]:
aman = datascientist("Aman",1)

My Name is  Aman

In [108]:
aman.skills("Data Scientist","NLP")

My Skills are  Data Scientist
But My expertise is in  NLP

In [109]:
aman.salary(10000)

Your updated salary is  11500.0